.gl-admin-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gl-admin-logo .gl-icon {
  margin-right: 10px;
  font-size: 26px;
  color: #FF7E00;
}
.gl-header {
  padding: 15px 0px;
  font-size: 16px;
  font-weight: 600;
}
.gl-no-auth {
  padding-top: 40px;
  width: 100%;
  text-align: center;
  color: #999999;
  opacity: .5;
}
.laytable-cell-1-avatar {
  /*最后的pic为字段的field*/
  height: 100% !important;
  max-height: 200px !important;
  max-width: 100%;
}
