{extend name="base/layouts" /}

{block name="content"}
<div class="mainfrm">
    <div class="layui-row  layui-col-space10" style="margin:0 10px;">
        <div class="layui-col-xs6">
            <table class="layui-table">
                <colgroup>
                    <col width="160">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th colspan="2">系统信息</th>
                </tr>
                </thead>
                <tbody>
                {volist name="info" id="v" key="k"}
                <tr>
                    <td class="text">{$key}：</td>
                    <td class="input">{$v}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="layui-col-xs6">
            <table class="layui-table">
                <colgroup>
                    <col width="160">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th colspan="2">系统信息</th>
                </tr>
                </thead>
                <tbody>
                {volist name="system" id="v"}
                <tr>
                    <td class="text">{$key}：</td>
                    <td class="input">{$v}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}